doctype html
head
    link(rel='stylesheet', href='/stylesheets/admin_style.css')
    script(src='/js/jquery-3.6.3.min.js')
    script(src='/js/admin_controller.js')
    title User View
block content
    .centerBox
        button.btn.btn-primary(onclick="window.history.back()") Back
    .user-profile 
        h2= "Viewing " + user.first_name + ' ' + user.last_name + "'s Profile"
        .user-info
            h3= "Employee: " + user.first_name + ' ' + user.last_name
            h3= "Email: " + user.email
            - var cleanRole
            - if(user.role == 'admin')
                - cleanRole = 'Administrator'
            - else if(user.role == 'emtp')
                - cleanRole = 'Paramedic'
            - else if(user.role == 'emtb')
                - cleanRole = 'EMT-Basic'
            h3= "Role: " + cleanRole
            h3= "Base: " + user.base + " County"
            h3= "ID: " + user.id
            - var cdate = new Date(user.createdAt)
            - var cmonth = cdate.getMonth() + 1
            - var cday = cdate.getDate()
            - var cyear = cdate.getFullYear()
            - var cupdatedDate = cmonth + '/' + cday + '/' + cyear 
            h3= "Created: " + cupdatedDate
            - var date = new Date(user.updatedAt)
            - var month = date.getMonth() + 1
            - var day = date.getDate()
            - var year = date.getFullYear()
            - var updatedDate = month + '/' + day + '/' + year 
            h3= "Last Updated: " + updatedDate
            button.btn.btn-primary(type='button', onclick='toggleModal()') Edit User
            button.btn.btn-danger(type='button', onclick='toggleModal()') Delete User
            button.btn.btn-success(type='button', onclick=`window.location.href="/timesheets/new/${user.id}"`) Create Timesheet

        .user-timesheets
            h1 Timesheets
    - var payPeriodList = []
    label(for="payPeriodList") Sort by Pay Period
    select#payPeriodList.form-control(onchange="updateTable()")
        option(value="") Select Pay Period
        each timesheet in timesheets
            - var timesheetData = timesheet.timesheet_data 
            - var payPeriodName = timesheetData[0].payPeriod.name
            - if(payPeriodList.indexOf(payPeriodName) == -1)
                - payPeriodList.push(payPeriodName)
                option(value=payPeriodName)= payPeriodName
    button.btn.btn-primary(onclick="exportReport()") Download Report
        table.table
            thead
            tr
                th Timesheet ID
                th Pay Period
                th Employee
                th Week 1 Regular 
                th Week 1 Overtime
                th Week 2 Regular 
                th Week 2 Overtime
                th Vacation
                th Holiday
                th Regular / Overtime
                th Actions
            tbody(id="timesheetRows")
            each timesheet in timesheets
                tr(data-pay-period=timesheet.timesheet_data[0].payPeriod.name)
                td= timesheet.id
                - var timesheetData = timesheet.timesheet_data 
                - var empName = timesheetData[0].employee_name
                - var payPeriodStart = timesheetData[0].payPeriod.start
                - var payPeriodEnd = timesheetData[0].payPeriod.end
                - var payPeriodName = timesheetData[0].payPeriod.name
                - payPeriodList.push(payPeriodName)
                td= payPeriodName
                td= empName
                - var week1 = timesheet.week_1
                - var week2 = timesheet.week_2
                - var week1_total = 0
                - var week2_total = 0
                - var week1_reg = 0
                - var week2_reg = 0
                - var week1_ot = 0
                - var week2_ot = 0
                - var holiday = 0
                - var vacation = 0
                - var totalRegular = 0
                - var totalOvertime = 0
                - for(var i = 0; i < week1.length; i++)
                    - if(!isNaN(week1[i].reg_hours))
                    - week1_reg += parseFloat(week1[i].reg_hours)
                - for(var i = 0; i < week2.length; i++)
                    - if(!isNaN(week2[i].reg_hours))
                    - week2_reg += parseFloat(week2[i].reg_hours)
                - for(var i = 0; i < week1.length; i++)
                    - if(!isNaN(week1[i].ot_hours))
                    - week1_ot += parseFloat(week1[i].ot_hours)
                - for(var i = 0; i < week2.length; i++)
                    - if(!isNaN(week2[i].ot_hours))
                    - week2_ot += parseFloat(week2[i].ot_hours)
                - for(var i = 0; i < week1.length; i++)
                    - if(!isNaN(week1[i].total))
                    - week1_total += parseFloat(week1[i].total)
                - for(var i = 0; i < week2.length; i++)
                    - if(!isNaN(week2[i].total))
                    - week2_total += parseFloat(week2[i].total)
                - for(var i = 0; i < week1.length; i++)
                    - if(!isNaN(week1[i].holiday))
                    - holiday += parseFloat(week1[i].holiday)
                - for(var i = 0; i < week2.length; i++)
                    - if(!isNaN(week2[i].holiday))
                    - holiday += parseFloat(week2[i].holiday)
                - for(var i = 0; i < week1.length; i++)
                    - if(!isNaN(week1[i].vacation))
                    - vacation += parseFloat(week1[i].vacation)
                - for(var i = 0; i < week2.length; i++)
                    - if(!isNaN(week2[i].vacation))
                    - vacation += parseFloat(week2[i].vacation)
                - if (week1_total > 40)
                    - totalRegular += 40
                    - totalOvertime += week1_total - 40
                - else
                    - totalRegular += week1_total
                - if (week2_total > 40)
                    - totalRegular += 40
                    - totalOvertime += week2_total - 40
                - else
                    - totalRegular += week2_total

                td= week1_reg || 0
                td= week1_ot || 0
                td= week2_reg || 0
                td= week2_ot || 0
                td= vacation || 0
                td= holiday || 0
                td= "(" + totalRegular + " / " + totalOvertime + ")"
                td
                    a.btn.btn-success(href=`/timesheets/download/${timesheet.id}`) View
                    a.btn.btn-success(href=`/timesheets/edit/${timesheet.id}`) Edit
                    a.btn.btn-danger(href=`/timesheets/delete/${timesheet.id}`, onclick="return confirm('Are you sure you want to delete this timesheet?')") Delete